body {
  min-height: 100vh;
}

div {
  /* border: 1px solid grey;
  padding: 2px; */
}

.rating-stars {
  color: rgb(244, 187, 64);
}

.product-item {
  max-width: 300px;
  margin: auto;
  margin-bottom: 2rem;
}

.footer-items {
  color: #ccc;
}

.footer-items ul {
  list-style: square;
}

.breadcrumb {
  background-color: #eee;
}

.product-small img {
  max-width: 8rem;
  padding: 1rem;
}

.cart-item {
  border: 1px solid rgb(75, 71, 71);
}

.order {
  border: 1px solid rgb(75, 71, 71);
}

.close i {
  font-size: 2rem;
}

.close i:hover {
  color: red;
}

.login-box {
  background-color: #eee;
  border-radius: 20px;
  padding: 2rem;
}

.success-icon {
  font-size: 10rem;
}

.carouselExampleDark img {
  max-height: 80vh;
}
